<!-- Home.html -->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>노니노니 아기옷 감성공간</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


	<style>
		/* 모달 스타일 */
		.modal {
			-webkit-font-smoothing: antialiased;
			-webkit-text-size-adjust: none;
			word-wrap: break-word;
			border-spacing: 0;
			border-collapse: collapse;
			color: #222;
			font-size: 10px;
			line-height: 15px;
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
			z-index: 1000;
			text-align: left;
			letter-spacing: normal;
			background-color: #fff;
			position: absolute;
			margin: 0;
			border: 1px solid #ccc;
			border-radius: 2px;
			box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.15);
			width: 315px;
			word-break: keep-all;
			padding: 10px;
			display: none;

		}


		#map {
			width: 100%;
			height: 400px;
			display: none;
		}
	</style>

</head>


<body>
	<!-- header를 포함하는 부분 -->
	<th:block th:replace="~{fragments/header}"></th:block>
	<!-- 비밀번호 조건 모달 -->
	<div id="passwordModal" class="modal">
		<strong style="color: #f45b55;">※ 비밀번호 입력 조건</strong>
		<ul style="color: #757575;">
			대소문자/숫자/특수문자를 조합, 10자~16자<br>
			입력 가능 특수문자: ~ ` ! @ # $ % ^ ( ) * _ - = { } [ ] | ; : &lt; &gt; , . ? /<br>
			공백 입력 불가능<br>
			동일한 문자, 숫자를 반복해서 사용 불가능<br>
			아이디 포함 불가능<br>
		</ul>
	</div>


	<form action="/update-member-info" method="post" enctype="multipart/form-data" id="registrationForm"
		th:object="${member}">
		<div style="    width: 100%;
    display: flex;
   align-items: center; justify-content: space-between; ">
			<h3 style="float: left; border: 0;">회원정보 수정</h3>
			<h5 style="float: right; color: red;"><i class="fa-solid fa-star-of-life" style="font-size: 14px; color: red;"></i>변경불가</h5>
		</div>
		<table>
			<colgroup>
				<col style="width:100px;">
				<col style="width:auto;">
			</colgroup>
			<tr>
				<th scope="row" style="float: left; ">아이디<i class="fa-solid fa-star-of-life" style="font-size: 14px; color: red;"></i>
				</th>
				<td>
					<input name="memberId" id="memberId" fw-label="아이디" fw-msg="" class="inputTypeText" placeholder=""
						th:field="*{memberId}" value="" maxlength="16" type="text" readonly>

				</td>
			</tr>
			<tr>
				<th></th>
				<td id="idMsg" style="float: left; color: red;"></td>
			</tr>

			<tr>
				<th scope="row" style="float: left;">새비밀번호</i>
				</th>
				<td>
					<input name="password" id="password" fw-label="비밀번호" fw-msg="" class="inputTypeText" placeholder=""
						value="" type="password" maxlength="16" onfocus="showPasswordConditions()"
						oninput="validatePassword()">

				</td>

			</tr>
			<tr>
				<th></th>
				<td id="passwordMsg" style="float: left; color: red;"></td>
			</tr>
			<tr>
				<th scope="row" style="float: left;">비밀번호 확인</i>
				</th>
				<td>
					<input name="confirmPassword" id="confirmPassword" fw-label="비밀번호 확인" fw-msg=""
						class="inputTypeText" maxlength="16" placeholder="" value="" type="password"
						oninput="validatePassword()">

				</td>
			</tr>
			<tr>
				<th></th>
				<td id="passwordMatchMsg" style="float: left; color: red;"></td>
			</tr>
			<tr>
				<th scope="row" style="float: left;">이름<i class="fa-solid fa-star-of-life" style="font-size: 14px; color: red;"></i></th>
				<td>
					<input name="name" id="name" fw-label="이름" fw-msg="" class="inputTypeText" placeholder="" value=""
						th:field="*{name}" type="text" maxlength="30" readonly>

				</td>

			</tr>
			<tr>
				<th></th>
				<td id="nameMsg" style="float: left; color: red;"></td>
			</tr>

			<tr>
				<th scope="row" style="float: left; margin-block: 5px;">주소</th>
				<td>
					<input type="text" id="postcode" name="addressPostcode" placeholder="우편번호" readonly
						style="float: left; width: calc(100% - 107px); margin-block: 2px;"
						th:field="*{addressPostCode}">
					<input type="button" onclick="execDaumPostcode()" value="우편번호 찾기"
						style="float: left; font-weight: bold; background-color: white; font-size: 12px; margin-left: 5px; width: 100px; height: 20px; margin-block: 2px;"><br>
					<input type="text" id="roadAddress" name="addressRoad" placeholder="도로명주소"
						style="float: left; margin-block: 2px;" th:field="*{addressRoad}" readonly>
					<input type="text" id="jibunAddress" placeholder="지번주소" hidden>
					<span id="guide" style="color:#999;display:none"></span>
					<input type="text" id="detailAddress" name="addressDetails" placeholder="상세주소"
						style="float: left; margin-block: 2px;" th:field="*{addressDetails}" disabled>
					<input type="text" id="extraAddress" placeholder="참고항목" hidden>
				</td>
			</tr>
			<tr>
				<th scope="row" style="float: left;">휴대전화</i>
				</th>
				<td>
					<div style="display: flex;     width: calc(100% + 2px);"><select id="mobile1" name="mobile[]"
							fw-filter="isNumber&amp;isFill" fw-label="휴대전화" fw-alone="N" fw-msg="" style="width: 33%;">
							<option value="010" th:selected="${mobile1 == '010'}">010</option>
							<option value="011" th:selected="${mobile1 == '011'}">011</option>
							<option value="016" th:selected="${mobile1 == '016'}">016</option>
							<option value="017" th:selected="${mobile1 == '017'}">017</option>
							<option value="018" th:selected="${mobile1 == '018'}">018</option>
							<option value="019" th:selected="${mobile1 == '019'}">019</option>
						</select>-<input id="mobile2" name="mobile[]" maxlength="4" fw-filter="isNumber&amp;isFill"
							fw-label="휴대전화" fw-alone="N" fw-msg="" placeholder="" value="" type="text"
							style="width: 33%;" th:value="${mobile2}">-<input id="mobile3" name="mobile[]" maxlength="4"
							fw-filter="isNumber&amp;isFill" fw-label="휴대전화" fw-alone="N" fw-msg="" placeholder=""
							value="" type="text" style="width: 33%;" th:value="${mobile3}"></div>
				</td>
			</tr>
			<tr>
				<th></th>
				<td id="phoneMsg" style="float: left; color: red;"></td>
			</tr>
			<tr>
				<th scope="row" style="float: left;">이메일<i class="fa-solid fa-star-of-life" style="font-size: 14px; color: red;"></i></th>
				<td><input id="email" name="email" fw-filter="isFill&amp;isEmail" fw-label="이메일" fw-alone="N" fw-msg=""
						placeholder="" value="" type="email" style="float: left; width: 100%; margin-block: 2px;"
						oninput="checkEmailDuplicate()" th:field="*{email}" readonly>
				</td>

			</tr>
			<tr>
				<th></th>
				<td id="emailMsg" style="float: left; color: red;"></td>
			</tr>


		</table>

		<div style="    width: calc(100% - 2px);
    display: flex;
   align-items: center; justify-content: space-between; ">
			<h3 style="float: left; border: 0;">환불계좌</h3>
		</div>
		<div class="ec-base-table typeWrite gClearBorderTop  ">
			<table>
				<colgroup>
					<col style="width:100px;">
					<col style="width:auto;">
				</colgroup>
				<tbody>
					<tr class="">
						<th scope="row" style="float: left;">예금주 </th>
						<td><input id="bank_account_owner" name="bankAccountOwner" fw-filter="" fw-label="예금주" fw-msg=""
								class="inputTypeText" placeholder="" autocomplete="off" value="" type="text"
								th:field="*{bankAccountOwner}">
						</td>
					</tr>
					<tr>
						<th></th>
						<td id="ownerMsg" style="float: left; color: red;"></td>
					</tr>
					<tr class="">
						<th scope="row" style="float: left;">은행명 </th>
						<td><select id="refund_bank_code" name="refundBankCode" fw-filter="" fw-label="은행명" fw-msg="">
								<option value="" selected="selected">- 은행선택 -</option>
								<option value="산업은행" th:selected="*{refundBankCode} == '산업은행'">산업은행</option>
								<option value="기업은행" th:selected="*{refundBankCode} == '기업은행'">기업은행</option>
								<option value="국민은행" th:selected="*{refundBankCode} == '국민은행'">국민은행</option>
								<option value="하나(외환)은행" th:selected="*{refundBankCode} == '하나(외환)은행'">하나(외환)은행</option>
								<option value="수협중앙회" th:selected="*{refundBankCode} == '수협중앙회'">수협중앙회</option>
								<option value="농협중앙회" th:selected="*{refundBankCode} == '농협중앙회'">농협중앙회</option>
								<option value="농협개인" th:selected="*{refundBankCode} == '농협개인'">농협개인</option>
								<option value="농협" th:selected="*{refundBankCode} == '농협'">농협</option>
								<option value="우리은행" th:selected="*{refundBankCode} == '우리은행'">우리은행</option>
								<option value="유안타증권" th:selected="*{refundBankCode} == '유안타증권'">유안타증권</option>
								<option value="KB증권" th:selected="*{refundBankCode} == 'KB증권'">KB증권</option>
								<option value="SC제일은행" th:selected="*{refundBankCode} == 'SC제일은행'">SC제일은행</option>
								<option value="미래에셋증권" th:selected="*{refundBankCode} == '미래에셋증권'">미래에셋증권</option>
								<option value="대우증권" th:selected="*{refundBankCode} == '대우증권'">대우증권</option>
								<option value="삼성증권" th:selected="*{refundBankCode} == '삼성증권'">삼성증권</option>
								<option value="한국투자증권" th:selected="*{refundBankCode} == '한국투자증권'">한국투자증권</option>
								<option value="신한은행" th:selected="*{refundBankCode} == '신한은행'">신한은행</option>
								<option value="교보증권" th:selected="*{refundBankCode} == '교보증권'">교보증권</option>
								<option value="하이투자증권" th:selected="*{refundBankCode} == '하이투자증권'">하이투자증권</option>
								<option value="현대차증권" th:selected="*{refundBankCode} == '현대차증권'">현대차증권</option>
								<option value="SK증권" th:selected="*{refundBankCode} == 'SK증권'">SK증권</option>
								<option value="대신증권" th:selected="*{refundBankCode} == '대신증권'">대신증권</option>
								<option value="한화증권" th:selected="*{refundBankCode} == '한화증권'">한화증권</option>
								<option value="하나대투증권" th:selected="*{refundBankCode} == '하나대투증권'">하나대투증권</option>
								<option value="신한금융투자" th:selected="*{refundBankCode} == '신한금융투자'">신한금융투자</option>
								<option value="동부증권" th:selected="*{refundBankCode} == '동부증권'">동부증권</option>
								<option value="유진투자증권" th:selected="*{refundBankCode} == '유진투자증권'">유진투자증권</option>
								<option value="메리츠증권" th:selected="*{refundBankCode} == '메리츠증권'">메리츠증권</option>
								<option value="카카오페이증권" th:selected="*{refundBankCode} == '카카오페이증권'">카카오페이증권</option>
								<option value="NH투자증권" th:selected="*{refundBankCode} == 'NH투자증권'">NH투자증권</option>
								<option value="신영증권" th:selected="*{refundBankCode} == '신영증권'">신영증권</option>
								<option value="케이뱅크" th:selected="*{refundBankCode} == '케이뱅크'">케이뱅크</option>
								<option value="카카오뱅크" th:selected="*{refundBankCode} == '카카오뱅크'">카카오뱅크</option>
								<option value="LIG증권" th:selected="*{refundBankCode} == 'LIG증권'">LIG증권</option>
								<option value="OK저축은행" th:selected="*{refundBankCode} == 'OK저축은행'">OK저축은행</option>
								<option value="토스뱅크" th:selected="*{refundBankCode} == '토스뱅크'">토스뱅크</option>
								<option value="토스증권" th:selected="*{refundBankCode} == '토스증권'">토스증권</option>
								<option value="대구은행" th:selected="*{refundBankCode} == '대구은행'">대구은행</option>
								<option value="부산은행" th:selected="*{refundBankCode} == '부산은행'">부산은행</option>
								<option value="광주은행" th:selected="*{refundBankCode} == '광주은행'">광주은행</option>
								<option value="제주은행" th:selected="*{refundBankCode} == '제주은행'">제주은행</option>
								<option value="전북은행" th:selected="*{refundBankCode} == '전북은행'">전북은행</option>
								<option value="경남은행" th:selected="*{refundBankCode} == '경남은행'">경남은행</option>
								<option value="모건스탠리은행" th:selected="*{refundBankCode} == '모건스탠리은행'">모건스탠리은행</option>
								<option value="씨티은행" th:selected="*{refundBankCode} == '씨티은행'">씨티은행</option>
								<option value="유에프제이은행" th:selected="*{refundBankCode} == '유에프제이은행'">유에프제이은행</option>
								<option value="미즈호코퍼레이트은행" th:selected="*{refundBankCode} == '미즈호코퍼레이트은행'">미즈호코퍼레이트은행
								</option>
								<option value="미쓰비시도쿄은행" th:selected="*{refundBankCode} == '미쓰비시도쿄은행'">미쓰비시도쿄은행</option>
								<option value="뱅크오브아메리카" th:selected="*{refundBankCode} == '뱅크오브아메리카'">뱅크오브아메리카</option>
								<option value="우체국" th:selected="*{refundBankCode} == '우체국'">우체국</option>
								<option value="신용보증기금" th:selected="*{refundBankCode} == '신용보증기금'">신용보증기금</option>
								<option value="기술신용보증기금" th:selected="*{refundBankCode} == '기술신용보증기금'">기술신용보증기금</option>
								<option value="하나은행" th:selected="*{refundBankCode} == '하나은행'">하나은행</option>
								<option value="농협회원조합" th:selected="*{refundBankCode} == '농협회원조합'">농협회원조합</option>
								<option value="도이치은행" th:selected="*{refundBankCode} == '도이치은행'">도이치은행</option>
								<option value="상호저축은행" th:selected="*{refundBankCode} == '상호저축은행'">상호저축은행</option>
								<option value="새마을금고" th:selected="*{refundBankCode} == '새마을금고'">새마을금고</option>
								<option value="수출입은행" th:selected="*{refundBankCode} == '수출입은행'">수출입은행</option>
								<option value="신용협동조합" th:selected="*{refundBankCode} == '신용협동조합'">신용협동조합</option>
								<option value="홍콩상하이은행(HSBC)" th:selected="*{refundBankCode} == '홍콩상하이은행(HSBC)'">
									홍콩상하이은행(HSBC)</option>
								<option value="에이비엔암로은행" th:selected="*{refundBankCode} == '에이비엔암로은행'">에이비엔암로은행</option>
								<option value="산림조합" th:selected="*{refundBankCode} == '산림조합'">산림조합</option>
								<option value="한국주택금융공사" th:selected="*{refundBankCode} == '한국주택금융공사'">한국주택금융공사</option>
								<option value="서울보증보험" th:selected="*{refundBankCode} == ''">서울보증보험</option>
								<option value="경찰청" th:selected="*{refundBankCode} == '경찰청'">경찰청</option>
								<option value="금융결제원" th:selected="*{refundBankCode} == '금융결제원'">금융결제원</option>
								<option value="기타" th:selected="*{refundBankCode} == '기타'">기타</option>
							</select></td>
					</tr>
					<tr class="">
						<th scope="row" style="float: left;">계좌번호 </th>
						<td><input id="bank_account_no" name="bankAccountNo" fw-filter="" fw-label="계좌번호" fw-msg=""
								class="inputTypeText" placeholder="" autocomplete="off" value="" type="text"
								th:field="*{bankAccountNo}"></td>
					</tr>
					<tr>
						<th></th>
						<td id="numberMsg" style="float: left; color: red;"></td>
					</tr>
				</tbody>
			</table>



			<table>
				<td>
					<button type="button"
						style="width: 100%; height: 50px; background-color: black; color: white; font-size: 19px;"
						onclick="enableSignUpButton()">정보수정하기
					</button>
				</td>
			</table>


	</form>
	<div style="bottom: 0;">
		<th:block th:replace="~{fragments/footer}"></th:block>
	</div>


	<script>
		// 휴대전화 번호 유효성 검사 함수
		function validatePhoneNumber() {
			var mobile1 = $("#mobile1").val();
			var mobile2 = $("#mobile2").val();
			var mobile3 = $("#mobile3").val();

			// 숫자만 존재하는지 확인
			var numberPattern = /^\d+$/;

			if (!numberPattern.test(mobile2) || !numberPattern.test(mobile3)) {
				$("#phoneMsg").css("color", "red").text("휴대전화 번호는 숫자만 입력해야 합니다.");
				return false;
			}

			// 중간 번호의 길이가 3자리 이상, 마지막 번호의 길이가 4자리인지 확인
			if (mobile2.length < 3 || mobile3.length !== 4) {
				$("#phoneMsg").css("color", "red").text("휴대전화 번호의 중간 부분은 3자리 이상, 마지막 부분은 4자리여야 합니다.");
				return false;
			}

			$("#phoneMsg").css("color", "black").text("올바른 휴대전화 번호입니다.");
			return true;
		}

		// 휴대전화 입력 필드에 이벤트 리스너 추가
		$(document).ready(function () {
			$("#mobile1, #mobile2, #mobile3").on("input", validatePhoneNumber);
		});
	</script>









	<script>

		function validatePassword() {
			var password = document.getElementById("password").value;
			var confirmPassword = document.getElementById("confirmPassword").value;
			var passwordMatchMsg = document.getElementById("passwordMatchMsg");

			// 비밀번호 입력칸이 비어있는 경우 함수를 종료
			if (password.length === 0) {
				$("#passwordMatchMsg").text("");
				return;
			}

			if (confirmPassword.length === 0) {
				$("#passwordMatchMsg").text("");
				return;
			}

			if (password !== confirmPassword) {
				$('#passwordMatchMsg').css("color", "red").text('비밀번호가 일치하지 않습니다.');
			} else {
				$('#passwordMatchMsg').css("color", "black").text('비밀번호가 일치합니다.');
			}
		}

		// 비밀번호 모달 보이기
		function showPasswordConditions() {
			var passwordModal = document.getElementById("passwordModal");
			var passwordInput = document.getElementById("password");
			// 비밀번호 입력란의 위치와 크기 계산
			var rect = passwordInput.getBoundingClientRect();

			// 모달의 위치 설정
			passwordModal.style.display = "block";

			passwordModal.style.top = rect.top + window.scrollY - passwordModal.offsetHeight + "px";
			passwordModal.style.left = "102px";
		}

		// 비밀번호 모달 감추기
		function hidePasswordConditions() {
			var passwordModal = document.getElementById("passwordModal");
			passwordModal.style.display = "none";
		}

		// 문서 로딩 후 이벤트 리스너 등록
		document.addEventListener("DOMContentLoaded", function () {
			// 비밀번호 입력란을 클릭할 때 모달을 보이게 함
			var passwordInput = document.getElementById("password");
			passwordInput.addEventListener("click", showPasswordConditions);

			// 비밀번호 모달 외부 클릭 시 모달 감추기
			window.addEventListener("click", function (event) {
				var passwordModal = document.getElementById("passwordModal");
				if (event.target !== passwordInput) {
					hidePasswordConditions();
				}
			});
		});


		// 비밀번호 입력 시 이벤트 발생
		$("#password").on("input", function () {
			checkPassword();
		});


		function checkPassword() {
			var password = $("#password").val();
			var memberId = $("#memberId").val();

			// 비밀번호 입력칸이 비어있는 경우 함수를 종료
			if (password.length === 0) {
				$("#passwordMsg").text("");
				return;
			}

			// 정규표현식을 사용하여 비밀번호 형식 검사
			var passwordPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[~`!@#\$%\^&\*\(\)_\-\=\{\}\[\]\|;:'"<>,.\/?]).{10,16}$/;

			// 비밀번호 형식이 맞지 않으면 메시지 표시
			if (!passwordPattern.test(password)) {
				$("#passwordMsg").text("대소문자/숫자/특수문자를 조합, 10자~16자를 입력해 주세요.");
				return;
			}

			// 특수문자가 허용되는지 확인
			var allowedSpecialChars = /[~`!@#\$%\^&\*\(\)_\-\=\{\}\[\]\|;:'"<>,.\/?]/;
			if (!allowedSpecialChars.test(password)) {
				$("#passwordMsg").text("입력 가능한 특수문자: ~ ` ! @ # $ % ^ ( ) * _ - = { } [ ] | ; : '\" < > , . / ?");
				return;
			}

			// 공백, 연속된 문자 또는 숫자, 동일한 문자 또는 숫자 반복 사용 여부 확인
			if (/\s/.test(password) || /(\w)\1/.test(password) || /(\d)\1/.test(password)) {
				$("#passwordMsg").text("공백, 동일한 문자 또는 숫자를 반복해서 사용할 수 없습니다.");
				return;
			}

			// 아이디를 포함하는지 확인
			if (password.includes(memberId)) {
				$("#passwordMsg").text("아이디를 포함하면 안됩니다.");
				return;
			}

			// 모든 조건이 만족하면 메시지 초기화
			$("#passwordMsg").css("color", "black").text("사용 가능한 비밀번호입니다.");
		}


		// 회원가입 버튼 활성화 여부 검사 함수
		function enableSignUpButton() {
			var passwordMatch = $("#passwordMatchMsg").text() === "비밀번호가 일치합니다.";
			var passwordConditionsMet = $("#passwordMsg").text() === "사용 가능한 비밀번호입니다.";
			var phoneAvailable = $("#phoneMsg").text() === "올바른 휴대전화 번호입니다." || $("#phoneMsg").text() === "";
			var ownerAvailable = $("#ownerMsg").text() === "";
			var numberAvailable = $("#numberMsg").text() === "";




			if (!passwordMatch) {
				// 비밀번호 일치 메시지 표시
				$("#passwordMatchMsg").css("color", "red").text("비밀번호가 일치하지 않습니다.");
			}

			if (!passwordConditionsMet) {
				// 비밀번호 조건 미충족 메시지 표시
				$("#passwordMsg").css("color", "red").text("비밀번호 조건을 확인해주세요.");
			}

			if (!phoneAvailable) {
				// 이메일 중복 확인 메시지 표시
				$("#phoneMsg").css("color", "red").text("휴대전화 번호를 다시 확인해주세요.");
			}

			if (!ownerAvailable) {
				// 이메일 중복 확인 메시지 표시
				$("#ownerMsg").css("color", "red").text("예금주명을 다시 확인해주세요.");
			}

			if (!numberAvailable) {
				// 이메일 중복 확인 메시지 표시
				$("#numberMsg").css("color", "red").text("계좌번호를 다시 확인해주세요.");
			}

			// 모든 조건이 충족되면 form을 제출
			if (phoneAvailable && passwordMatch && passwordConditionsMet && ownerAvailable && numberAvailable) {$("#registrationForm").submit();}


		}


	</script>


	<script>
		//본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
		function execDaumPostcode() {
			new daum.Postcode({
				oncomplete: function (data) {
					// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

					// 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
					// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
					var roadAddr = data.roadAddress; // 도로명 주소 변수
					var extraRoadAddr = ''; // 참고 항목 변수

					// 법정동명이 있을 경우 추가한다. (법정리는 제외)
					// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
					if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
						extraRoadAddr += data.bname;
					}
					// 건물명이 있고, 공동주택일 경우 추가한다.
					if (data.buildingName !== '' && data.apartment === 'Y') {
						extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
					}
					// 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
					if (extraRoadAddr !== '') {
						extraRoadAddr = ' (' + extraRoadAddr + ')';
					}

					// 우편번호와 주소 정보를 해당 필드에 넣는다.
					document.getElementById('postcode').value = data.zonecode;
					document.getElementById("roadAddress").value = roadAddr;
					document.getElementById("jibunAddress").value = data.jibunAddress;

					var detailAddressInput = document.getElementById("detailAddress");


					// 도로명 주소가 입력되었다면 상세주소 입력란을 활성화
					detailAddressInput.disabled = false;

					// 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
					if (roadAddr !== '') {
						document.getElementById("extraAddress").value = extraRoadAddr;
					} else {
						document.getElementById("extraAddress").value = '';
					}

					var guideTextBox = document.getElementById("guide");
					// 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
					if (data.autoRoadAddress) {
						var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
						guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
						guideTextBox.style.display = 'block';

					} else if (data.autoJibunAddress) {
						var expJibunAddr = data.autoJibunAddress;
						guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
						guideTextBox.style.display = 'block';
					} else {
						guideTextBox.innerHTML = '';
						guideTextBox.style.display = 'none';
					}
				}
			}).open();
		}
	</script>

	<script>
		// 예금주 이름 유효성 검사
		function validateBankAccountOwner() {
			var owner = document.getElementById("bank_account_owner").value;
			var ownerMsg = document.getElementById("ownerMsg");

			// 예금주 이름은 한글 또는 영문으로 구성되어야 함
			var ownerPattern = /^[가-힣a-zA-Z\s]+$/;

			if (owner === "") {
				ownerMsg.textContent = "";
				return true;

			}

			if (!ownerPattern.test(owner)) {
				ownerMsg.textContent = "예금주는 한글 또는 영문 이름만 가능합니다.";
				return false;
			} else {
				ownerMsg.textContent = "";
				return true;
			}
		}

		// 계좌번호 유효성 검사
		function validateBankAccountNumber() {
			var number = document.getElementById("bank_account_no").value;
			var numberMsg = document.getElementById("numberMsg");

			// 계좌번호는 숫자만 가능
			var numberPattern = /^\d+$/;

			if (number === "") {
				numberMsg.textContent = "";
				return true;

			}

			if (!numberPattern.test(number)) {
				numberMsg.textContent = "계좌번호는 숫자만 입력해야 합니다.";
				return false;
			} else {
				numberMsg.textContent = "";
				return true;
			}
		}

		// 페이지 로드 시 이벤트 리스너 등록
		document.addEventListener('DOMContentLoaded', function () {
			// 예금주 입력 필드 이벤트 리스너
			document.getElementById("bank_account_owner").addEventListener("input", validateBankAccountOwner);

			// 계좌번호 입력 필드 이벤트 리스너
			document.getElementById("bank_account_no").addEventListener("input", validateBankAccountNumber);
		});
	</script>



</html>