<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>노니노니 아기옷 감성공간</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<style>
		/* 모달 스타일 */
		.modal {
			-webkit-font-smoothing: antialiased;
			-webkit-text-size-adjust: none;
			word-wrap: break-word;
			border-spacing: 0;
			border-collapse: collapse;
			color: #222;
			font-size: 10px;
			line-height: 15px;
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
			z-index: 1000;
			text-align: left;
			letter-spacing: normal;
			background-color: #fff;
			position: absolute;
			margin: 0;
			border: 1px solid #ccc;
			border-radius: 2px;
			box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.15);
			width: 315px;
			word-break: keep-all;
			padding: 10px;
			display: none;

		}


		#map {
			width: 100%;
			height: 400px;
			display: none;
		}
	</style>
</head>

<body>


	<!-- header를 포함하는 부분 -->
	<th:block th:replace="~{fragments/header}"></th:block>
	<!-- 비밀번호 조건 모달 -->
	<div id="passwordModal" class="modal">
		<strong style="color: #f45b55;">※ 비밀번호 입력 조건</strong>
		<ul style="color: #757575;">
			대소문자/숫자/특수문자를 조합, 10자~16자<br>
			입력 가능 특수문자: ~ ` ! @ # $ % ^ ( ) * _ - = { } [ ] | ; : &lt; &gt; , . ? /<br>
			공백 입력 불가능<br>
			동일한 문자, 숫자를 반복해서 사용 불가능<br>
			아이디 포함 불가능<br>
		</ul>
	</div>
	<div style="    width: calc(100% - 2px);
    display: flex;
   align-items: center; justify-content: space-between; border: 1px solid silver;">
		<h3 style="float: left;">비밀번호 변경</h3>
		<h5 style="float: right; color: red;"><i class="fa-solid fa-check" style="font-size: 20px; color: red;"></i>필수
		</h5>
	</div>


	<!-- 비밀번호 리셋 폼 -->
	<form th:action="@{/reset-password}" method="post">
		<input type="hidden" name="token" th:value="${token}">
		<input type="hidden" name="email" th:value="${email}">
		<input type="hidden" name="memberId" th:value="${memberId}">
		<table>
			<colgroup>
				<col style="width:100px;">
				<col style="width:auto;">
			</colgroup>
			<tr>
				<th scope="row" style="float: left;">비밀번호<i class="fa-solid fa-check"
						style="font-size: 20px; color: red;"></i>
				</th>
				<td>
					<input name="password" id="password" fw-label="비밀번호" fw-msg="" class="inputTypeText" placeholder=""
						value="" type="password" maxlength="16" onfocus="showPasswordConditions()"
						oninput="validatePassword()">

				</td>

			</tr>
			<tr>
				<th></th>
				<td id="passwordMsg" style="float: left; color: red;"></td>
			</tr>
			<tr>
				<th scope="row" style="float: left;">비밀번호 확인<i class="fa-solid fa-check"
						style="font-size: 20px; color: red;"></i>
				</th>
				<td>
					<input name="confirmPassword" id="confirmPassword" fw-label="비밀번호 확인" fw-msg=""
						class="inputTypeText" maxlength="16" placeholder="" value="" type="password"
						oninput="validatePassword()">

				</td>
			</tr>
			<tr>
				<th></th>
				<td id="passwordMatchMsg" style="float: left; color: red;"></td>
			</tr>


		</table>

		<div>

		</div>


		<button type="submit" id="submitButton"
			style="width: 100%; height: 50px; background-color: black; color: white; font-size: 19px;" hidden>비밀번호
			변경
		</button>
	</form>
	<div style="bottom: 0;">
		<th:block th:replace="~{fragments/footer}"></th:block>
	</div>



	<script>
		// 문서 로딩 후 이벤트 리스너 등록
		document.addEventListener("DOMContentLoaded", function () {
			// 비밀번호 입력란을 클릭할 때 모달을 보이게 함
			var passwordInput = document.getElementById("password");
			passwordInput.addEventListener("click", showPasswordConditions);

			// 비밀번호 모달 외부 클릭 시 모달 감추기
			window.addEventListener("click", function (event) {
				var passwordModal = document.getElementById("passwordModal");
				if (event.target !== passwordInput) {
					hidePasswordConditions();
				}
			});
		});

		// 비밀번호 모달 보이기
		function showPasswordConditions() {
			var passwordModal = document.getElementById("passwordModal");
			var passwordInput = document.getElementById("password");
			// 비밀번호 입력란의 위치와 크기 계산
			var rect = passwordInput.getBoundingClientRect();

			// 모달의 위치 설정
			passwordModal.style.display = "block";

			passwordModal.style.top = rect.top + window.scrollY - passwordModal.offsetHeight + "px";
			passwordModal.style.left = rect.left + window.scrollX + "px";
		}

		// 비밀번호 모달 감추기
		function hidePasswordConditions() {
			var passwordModal = document.getElementById("passwordModal");
			passwordModal.style.display = "none";
		}


		function validatePassword() {
			var password = document.getElementById("password").value;
			var confirmPassword = document.getElementById("confirmPassword").value;
			var passwordMatchMsg = document.getElementById("passwordMatchMsg");
			var submitButton = document.getElementById("submitButton");

			checkPassword(); // 비밀번호 유효성 검사도 수행

			if (password.length === 0 || confirmPassword.length === 0) {
				passwordMatchMsg.textContent = "";
				submitButton.hidden = true;
				return;
			}

			if (password !== confirmPassword) {
				passwordMatchMsg.style.color = "red";
				passwordMatchMsg.textContent = '비밀번호가 일치하지 않습니다.';
				submitButton.hidden = true;
			} else {
				passwordMatchMsg.style.color = "black";
				passwordMatchMsg.textContent = '비밀번호가 일치합니다.';

			}
		}

		function checkPassword() {
			var password = document.getElementById("password").value;
			var passwordMsg = document.getElementById("passwordMsg");
			var submitButton = document.getElementById("submitButton");

			if (password.length === 0) {
				passwordMsg.textContent = "";
				submitButton.hidden = true;
				return;
			}

			var passwordPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[~`!@#\$%\^&\*\(\)_\-\=\{\}\[\]\|;:'"<>,.\/?]).{10,16}$/;
			if (!passwordPattern.test(password)) {
				passwordMsg.textContent = "대소문자/숫자/특수문자를 조합, 10자~16자를 입력해 주세요.";
				submitButton.hidden = true;
				return;
			}

			// 기타 비밀번호 조건 검사...

			// 모든 조건이 만족하는 경우
			passwordMsg.style.color = "black";
			passwordMsg.textContent = "사용 가능한 비밀번호입니다.";
			submitButton.hidden = false; // 조건 충족 시 버튼 표시
		}
	</script>





</body>

</html>