<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>노니노니 아기옷 감성공간</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<style>
		.swiper-container {
			overflow: hidden;
		}


		.content {
			position: absolute;
			top: 0;
			left: 0;
			width: 100px;
			height: 100px;
			/* 컨텐츠 내용 스타일링 */
		}

		/* Swiper 컨테이너의 크기 조정 */
		.swiper-container {
			width: 100px;
			/* 너비를 100%로 설정 */
			height: 100px;
			/* 높이를 300px로 설정 */
		}

		/* 각 슬라이드 항목의 크기 조정 */
		.swiper-slide {
			text-align: center;
			font-size: 18px;
			background: #fff;

			/* 슬라이드 항목 내부의 정사각형 컨테이너 크기 조정 */
			.square-container {
				width: 100%;
				/* 너비를 100%로 설정 */
				height: 100%;
				/* 높이를 100%로 설정 */
				display: flex;
				justify-content: center;
				align-items: center;
			}

			/* 이미지 스타일 */
			img {
				max-width: 100%;
				height: auto;
				border-radius: 10px;
				/* 이미지의 모서리를 둥글게 */
			}
		}

		#omessage_select {
			text-align-last: center;
			/* 텍스트를 가운데 정렬 */
			-moz-text-align-last: center;
			/* Firefox를 위한 스타일 */
		}
	</style>

</head>

<body>
	<!-- header를 포함하는 부분 -->
	<th:block th:replace="~{fragments/header}"></th:block>
	<h2>배송지 관리</h2>

	<button type="button" id="toggleAddressesList">배송지 목록</button>

	<form id="selectDefaultAddressForm">
		<div id="addressesListContainer">
			<div>
				<th:block th:each="address, iterStat : ${deliveryAddresses}">
					<input type="hidden" th:value="${address.id}" th:id="'addressId_' + ${iterStat.index}" />
					<table>
						<tr>
							<th th:if="${address.id == defaultaddress?.id}" th:id="'defaultMark_' + ${iterStat.index}">
								[기본]
							</th>
							<th th:unless="${address.id == defaultaddress?.id}"
								th:id="'nonDefaultMark_' + ${iterStat.index}">
							</th>
							<th th:id="'nickName_' + ${iterStat.index}" th:text="${address.nickName}">닉네임</th>
							<td rowspan="4">
								<button type="button" th:id="'deleteButton_' + ${iterStat.index}">삭제</button>
							</td>
						</tr>
						<tr>
							<th>수령인</th>
							<td><input type="text" th:value="${address.recipient}"
									th:id="'recipient_' + ${iterStat.index}" readonly></td>
						</tr>
						<tr>
							<th>주소</th>
							<td><input type="text" th:value="${address.address}" th:id="'address_' + ${iterStat.index}"
									readonly></td>

						</tr>
						<tr>
							<th>연락처</th>
							<td><input type="text" th:value="${address.phoneNumber}"
									th:id="'phoneNumber_' + ${iterStat.index}" readonly></td>
						</tr>
						<tr>
							<td colspan="3"><button type="button" th:id="'setDefault_' + ${iterStat.index}">기본 배송지로
									저장</button></td>
						</tr>
					</table>
				</th:block>
			</div>
		</div>
	</form>




	<button type="button" id="toggleAddressesInput">주소 입력</button>
	<div id="addressesInputContainer">
		<form id="deliveryAddressForm" method="post">
			<table>
				<colgroup>
				<col style="width: 50px;">
				</colgroup>
				<tr>
					<th>별칭</th>
					<td><input type="text" id="nickName" name="nickName" required></td>
				</tr>
				<tr>
					<th>
						수령인
					</th>
					<td><input type="text" id="recipient" name="recipient" required></td>
				</tr>
				<tr>
					<th>
						주소
					</th>
					<td>
						<input type="text" id="postcode" name="PostCode" placeholder="우편번호" readonly
							style="float: left; width: calc(100% - 107px); margin-block: 2px;">
						<input type="button" onclick="execDaumPostcode()" value="우편번호 찾기"
							style="float: left; font-weight: bold; background-color: white; font-size: 12px; margin-left: 5px; width: 100px; height: 20px; margin-block: 2px;"><br>
						<input type="text" id="roadAddress" name="address[]" placeholder="도로명주소"
							style="float: left; margin-block: 2px;" required>
						<input type="text" id="jibunAddress" placeholder="지번주소" hidden>
						<span id="guide" style="color:#999;display:none"></span>
						<input type="text" id="detailAddress" name="address[]" placeholder="상세주소"
							style="float: left; margin-block: 2px;" required>
						<input type="text" id="extraAddress" placeholder="참고항목" hidden>
					</td>
				</tr>
				<tr>
					<th>
						연락처
					</th>
					<td>
						<div style="display: flex;     width: calc(100% + 2px);"><select id="mobile1"
								name="phoneNumber[]" fw-filter="isNumber&amp;isFill" fw-label="휴대전화" fw-alone="N"
								fw-msg="" style="width: 33%;" required>
								<option value="010">010</option>
								<option value="011">011</option>
								<option value="016">016</option>
								<option value="017">017</option>
								<option value="018">018</option>
								<option value="019">019</option>

							</select>-<input id="mobile2" name="phoneNumber[]" maxlength="4" type="text"
								style="width: 33%;" required>
							-<input id="mobile3" name="phoneNumber[]" maxlength="4" type="text" style="width: 33%;"
								required>
						</div>
					</td>
				</tr>
			</table>
			<button type="submit">배송지 저장</button>
		</form>
	</div>
	<div style="bottom: 0;">
		<th:block th:replace="~{fragments/footer}"></th:block>
	</div>

	<script>
		document.addEventListener('DOMContentLoaded', function () {
			var setDefaultButtons = document.querySelectorAll('[id^="setDefault_"]');
			setDefaultButtons.forEach(function (button) {
				button.addEventListener('click', function () {
					var index = this.id.split('_')[1];
					var addressId = document.getElementById('addressId_' + index).value;

					fetch('/checkout/setDefaultAddress', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json',
							// 필요한 경우 CSRF 토큰 추가
						},
						body: JSON.stringify({addressId: addressId})
					})
						.then(response => {
							if (!response.ok) {
								throw new Error('Network response was not ok');
							}
							alert('기본 배송지가 설정되었습니다.');
							window.location.reload();
						})
						.catch(error => {
							console.error('Error:', error);
							alert('기본 배송지 설정 중 오류가 발생했습니다.');
						});
				});
			});
		});
	</script>



	<script>
		document.addEventListener('DOMContentLoaded', function () {
			var form = document.getElementById('deliveryAddressForm');
			form.addEventListener('submit', function (e) {
				e.preventDefault();

				var formData = new FormData(form);
				var deliveryAddress = {};
				var phoneNumber = [];
				var address = [];

				formData.forEach(function (value, key) {
					if (key.startsWith('phoneNumber')) {
						phoneNumber.push(value);
					} else if (key.startsWith('address')) {
						address.push(value);
					}
					else {
						deliveryAddress[key] = value;
					}
				});

				var deliveryAddressDTO = {
					deliveryAddress: deliveryAddress,
					phoneNumber: phoneNumber,
					address: address
				};

				fetch('/checkout/saveDeliveryAddress', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify(deliveryAddressDTO)
				})
					.then(response => {
						if (!response.ok) {
							throw new Error('Network response was not ok');
						}
						return response.text();
					})
					.then(() => {
						alert('배송지가 저장되었습니다.');
						window.location.reload();
					})
					.catch(error => {
						console.error('Error:', error);
						alert('배송지 저장 중 오류가 발생했습니다.');
					});
			});
		});


		function deleteItem(itemId, productid) {
			alert(" 삭제 완료");
			$('button.delete-item[data-product-value="' + productid + '"]').closest('li').remove();

		}

		$(document).ready(function () {


			$('button.delete-item').click(function () {
				var itemId = $(this).data('item-id');
				var productInputId = $(this).data('product-id');
				var productid = $('#' + productInputId).val();
				deleteItem(itemId, productid);
			});

		});
	</script>





	<script>
		document.addEventListener('DOMContentLoaded', function () {
			var toggleButton = document.getElementById('toggleAddressesList');
			var addressesListContainer = document.getElementById('addressesListContainer');

			toggleButton.addEventListener('click', function () {
				// 'display' 속성을 토글하여 목록을 표시하거나 숨김
				if (addressesListContainer.style.display === 'none') {
					addressesListContainer.style.display = 'block';
				} else {
					addressesListContainer.style.display = 'none';
				}
			});
		});
	</script>

	<script>
		document.addEventListener('DOMContentLoaded', function () {
			var toggleButton = document.getElementById('toggleAddressesInput');
			var addressesListContainer = document.getElementById('addressesInputContainer');

			toggleButton.addEventListener('click', function () {
				// 'display' 속성을 토글하여 목록을 표시하거나 숨김
				if (addressesListContainer.style.display === 'none') {
					addressesListContainer.style.display = 'block';
				} else {
					addressesListContainer.style.display = 'none';
				}
			});
		});
	</script>



	<script>
		document.addEventListener('DOMContentLoaded', function () {
			var deleteButtons = document.querySelectorAll('[id^="deleteButton_"]');
			deleteButtons.forEach(function (button) {
				button.addEventListener('click', function () {
					var index = this.id.split('_')[1];
					var addressId = document.getElementById('addressId_' + index).value;

					if (confirm('해당 배송지를 삭제하시겠습니까?')) {
						fetch('/checkout/deleteDeliveryAddress?addressId=' + addressId, {
							method: 'POST',
							headers: {
								'Content-Type': 'application/json',
								// 필요한 경우 CSRF 토큰 추가
							}
						})
							.then(response => {
								if (!response.ok) {
									throw new Error('Network response was not ok');
								}
								alert('배송지가 삭제되었습니다.');
								window.location.reload(); // 페이지 새로고침
							})
							.catch(error => {
								console.error('Error:', error);
								alert('배송지 삭제 중 오류가 발생했습니다.');
							});
					}
				});
			});
		});
	</script>



	<script>
		//본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
		function execDaumPostcode() {
			new daum.Postcode({
				oncomplete: function (data) {
					// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

					// 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
					// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
					var roadAddr = data.roadAddress; // 도로명 주소 변수
					var extraRoadAddr = ''; // 참고 항목 변수

					// 법정동명이 있을 경우 추가한다. (법정리는 제외)
					// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
					if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
						extraRoadAddr += data.bname;
					}
					// 건물명이 있고, 공동주택일 경우 추가한다.
					if (data.buildingName !== '' && data.apartment === 'Y') {
						extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
					}
					// 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
					if (extraRoadAddr !== '') {
						extraRoadAddr = ' (' + extraRoadAddr + ')';
					}

					// 우편번호와 주소 정보를 해당 필드에 넣는다.
					document.getElementById('postcode').value = data.zonecode;
					document.getElementById("roadAddress").value = roadAddr;
					document.getElementById("jibunAddress").value = data.jibunAddress;

					var detailAddressInput = document.getElementById("detailAddress");


					// 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
					if (roadAddr !== '') {
						document.getElementById("extraAddress").value = extraRoadAddr;
					} else {
						document.getElementById("extraAddress").value = '';
					}

					var guideTextBox = document.getElementById("guide");
					// 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
					if (data.autoRoadAddress) {
						var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
						guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
						guideTextBox.style.display = 'block';

					} else if (data.autoJibunAddress) {
						var expJibunAddr = data.autoJibunAddress;
						guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
						guideTextBox.style.display = 'block';
					} else {
						guideTextBox.innerHTML = '';
						guideTextBox.style.display = 'none';
					}
				}
			}).open();
		}
	</script>








</body>

</html>