<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>노니노니 아기옷 감성공간 - 리뷰 수정</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<style>
		.star {
			cursor: pointer;
		}

		.image-container {
			display: inline-block;
			position: relative;
		}

		.delete-button {
			position: absolute;
			top: 0;
			right: 0;
			background-color: black;
			color: white;
			cursor: pointer;
		}

		.image-container {
			flex: 0 0 50%;
			/* 모바일 화면에서 기본적으로 한 줄에 하나 */
			max-width: 50%;
			/* 모바일 화면에서 기본적으로 한 줄에 하나 */
		}

		/* 데스크탑 화면에서 한 줄에 네 개가 나오게 하는 미디어 쿼리 */
		@media (min-width: 768px) {
			.image-container {
				flex: 0 0 25%;
				/* 데스크탑에서는 한 줄에 네 개 */
				max-width: 25%;
				/* 데스크탑에서는 한 줄에 네 개 */
			}
		}
	</style>
</head>

<body>
	<th:block th:replace="~{fragments/header}"></th:block>
	<h2>리뷰 수정</h2>
	<!-- 리뷰 수정 폼 -->
	<form th:action="@{/update-review}" method="post" enctype="multipart/form-data"
		onsubmit="return validateAndSubmitForm(this)">
		<input type="hidden" name="reviewId" th:value="${review.id}" />

		<label for="title">리뷰 제목:</label>
		<input type="text" id="title" name="title" th:value="${review.titleName}" required>

		<label for="text">리뷰 내용:</label>
		<textarea id="text" name="text" required th:text="${review.text}"></textarea>

		<div id="rating">
			<th:block th:each="i : ${#numbers.sequence(1,5)}">
				<span class="star" th:data-value="${i}">
					<i th:class="${review.rating >= i ? 'fa-solid fa-star' : 'fa-regular fa-star'}"></i>
				</span>
			</th:block>
			<input type="hidden" id="ratingValue" name="rating" th:value="${review.rating}">
		</div>
		<!-- 삭제할 이미지 URL을 저장할 숨겨진 필드 -->
		<input type="hidden" name="deleteImages" id="deleteImages">

		<!-- 기존 이미지 표시 및 삭제 버튼 -->
		<div id="existingImages" style="display: flex;  flex-wrap: wrap;">
			<div th:each="url, stat : ${#strings.arraySplit(review.imageUrl, ',')}" class="image-container">
				<img style="width: 100%" th:src="@{'/uploaded_files/review/' + ${url}}" alt="Existing Image" />
				<button type="button" class="delete-button" th:data-url="${url}"
					onclick="markImageForDeletion(this)">X</button>
			</div>
		</div>

		<!-- 새 이미지 업로드 -->
		<label>새 리뷰 사진</label>
		<div id="newImageUrl"></div>
		<button type="button" onclick="addInputFile('newImageUrl')" style="width: 100%;">사진 추가</button>

		<button type="submit">수정</button>
		<button type="button" class="edit-btn" onclick="location.href='/reviews/my'">내 리뷰 목록</button>

	</form>
	<div style="bottom: 0;">
		<th:block th:replace="~{fragments/footer}"></th:block>
	</div>

	<script type="text/javascript">

		document.addEventListener('DOMContentLoaded', function () {
			var stars = document.querySelectorAll('#rating .star');
			var initialRating = document.getElementById('ratingValue').value; // 기존 별점 설정
			updateStars(initialRating); // 페이지 로드 시 별점 초기화

			stars.forEach(function (star) {
				star.addEventListener('click', function () {
					var rating = this.getAttribute('data-value');
					document.getElementById('ratingValue').value = rating;
					updateStars(rating);
				});
			});

			function updateStars(rating) {
				stars.forEach(function (star, index) {
					star.querySelector('i').className = index < rating ? 'fa-solid fa-star' : 'fa-regular fa-star';
				});
			}
		});
	</script>

	<script type="text/javascript">
		function addInputFile(containerId) {
			var container = document.getElementById(containerId);
			var input = document.createElement("input");
			input.type = "file";
			input.name = containerId + "[]";
			input.accept = "image/*"; // 이미지만 허용
			container.appendChild(input);
		}

		function validateAndSubmitForm(form) {
			// 모든 파일 입력 필드를 순회
			var fileInputs = form.querySelectorAll('input[type="file"]');
			fileInputs.forEach(function (input) {
				// 파일이 선택되지 않은 경우, 해당 필드 제거
				if (input.files.length === 0) {
					input.parentNode.removeChild(input);
				}
			});
			return true; // 폼 제출 계속 진행
		}

	</script>

	<script>
		var deleteImages = []; // 삭제할 이미지 URL을 저장할 배열

		function markImageForDeletion(button) {
			var url = button.getAttribute('data-url');
			if (confirm('이 이미지를 삭제하시겠습니까?')) {
				deleteImages.push(url); // 삭제할 이미지 배열에 추가
				document.getElementById('deleteImages').value = deleteImages.join(','); // 숨겨진 필드에 저장

				// 이미지 컨테이너 제거
				var container = button.parentElement;
				container.parentNode.removeChild(container);
			}
		}
	</script>


</body>

</html>