<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- 공통 head 부분 include -->
<div th:replace="~{fragments/head :: head}"></div>

<head>
	<style>
		#searchContaine {
			display: none;
			/* 검색창 스타일링 */
		}

		.cart-icon {
			position: relative;
			text-decoration: none;
			color: black;
			/* 링크 색상 설정 */
		}

		.cart-count {
			position: absolute;
			top: -10px;
			right: -10px;
			background-color: red;
			color: white;
			border-radius: 50%;
			padding: 2px 6px;
			font-size: 12px;
		}
	</style>

</head>

<body>
	<div style="display: flexbox; width: 100%;">
		<!-- header를 포함하는 부분 -->
		<div id="headerContainer"
			style="display:flex;  height: 100px; justify-content: space-evenly;   z-index: 20; align-items: center; width: 100%; left: 0;">

			<!-- leftsidebar를 포함하는 부분 -->
			<i>
				<th:block th:replace="~{fragments/leftsidebar}"></th:block>
			</i>
			<a th:href="@{/mypage}">
				<i class="fa-solid fa-user"></i>
			</a>
			<!-- 이미지를 클릭하면 /home으로 이동하는 링크 -->
			<a th:href="@{/home}" style="width: auto; height: 100%;">
				<!-- 이미지를 표시하는 부분 -->
				<img th:src="@{${logoimagepath}}" alt="noninoni logo" style="width: auto; height: 100%;">
			</a>
			<!-- 장바구니 아이콘 -->
			<a th:href="@{/cart}" class="cart-icon">
				<i class="fa-solid fa-cart-shopping"></i>
				<span class="cart-count" id="cartItemCount" style="display: none;"></span>
			</a>

			<div>
				<div id="searchContainer" style="display: none; width: 81px; float: left;">
					<form id="searchForm" th:action="@{/product/list}" method="get">
						<input type="hidden" name="category" th:value="${category}">
						<input name="keyword"
							style="float: right; margin-right: 3px; width: 100%; height: 30px; font-size: 15px; border: 1px solid silver;"
							type="text" id="searchBox" placeholder="제품명 입력" th:value="${keyword}">
					</form>
				</div>
				<i class="fa-solid fa-magnifying-glass" onclick="toggleSearchBox()"></i>
			</div>

		</div>
		<div id="headerPlaceholder" style="display: none;"></div>
		<!-- TypeNavbar를 포함하는 부분 -->
		<div>
			<th:block th:replace="~{fragments/typenavbar}"></th:block>
		</div>
	</div>

	<th:block th:replace="~{fragments/rightscroll}"></th:block>

	<script>
		function updateCartItemCount() {
			// 세션에서 장바구니 아이템 수를 불러와 초기 표시
			const savedCount = sessionStorage.getItem('cartItemCount');
			const cartItemCountElement = document.getElementById('cartItemCount');
			if (savedCount && savedCount > 0) {
				cartItemCountElement.textContent = savedCount;
			} else {
				cartItemCountElement.style.display = 'none'; // 0이면 숨김
			}

			// 서버에서 최신 장바구니 아이템 수를 가져와서 표시하고 세션을 업데이트
			fetch('/cart/api/cart/count')
				.then(response => response.json())
				.then(count => {
					if (count > 0) {
						cartItemCountElement.textContent = count;
						cartItemCountElement.style.display = 'block'; // 숫자가 있으면 표시
					} else {
						cartItemCountElement.style.display = 'none'; // 숫자가 0이면 숨김
					}
					sessionStorage.setItem('cartItemCount', count);
				});
		}

		// 페이지 로드 시 장바구니 아이템 수 업데이트
		document.addEventListener('DOMContentLoaded', updateCartItemCount);

	</script>
	<script>
		// 스크롤 이벤트 리스너 추가
		window.addEventListener('scroll', function () {
			var headerContainer = document.getElementById('headerContainer');
			var placeholder = document.getElementById('headerPlaceholder');
			var bodyHeight = document.body.clientHeight;

			// headerContainer의 높이
			var headerHeight = headerContainer.offsetHeight;

			if (window.scrollY > 110 && bodyHeight > 850) {
				headerContainer.style.position = 'fixed';
				headerContainer.style.top = '0';
				headerContainer.style.width = '100%'; // 가로 폭 조정
				headerContainer.style.zIndex = '1000'; // z-index 설정
				placeholder.style.display = 'block';
				placeholder.style.height = headerHeight + 'px'; // 플레이스홀더 높이 설정
			}
			else {
				headerContainer.style.position = 'relative';
				headerContainer.style.top = 'auto';
				placeholder.style.display = 'none';
			}
		});



		document.getElementById('hamburger').addEventListener('change', function () {
			var sidebar = document.querySelector('.sidebar');

			// 체크되면 페이지 내 스크롤 고정
			if (this.checked) {
				document.body.style.overflow = 'hidden';

				// 사이드바를 제일 위로 이동
				sidebar.scrollTop = 0;
			} else {
				document.body.style.overflow = ''; // 스크롤 허용

			}
		});
	</script>

	<script>
		function toggleSearchBox() {
			var searchContainer = document.getElementById("searchContainer");
			var searchBox = document.getElementById("searchBox");
			var searchForm = document.getElementById("searchForm");

			// 검색창이 현재 표시되어 있지 않으면 표시합니다.
			if (searchContainer.style.display === "none") {
				searchContainer.style.display = "block";
				searchBox.focus(); // 검색창에 포커스를 맞춥니다.
			} else {
				// 검색창이 이미 표시되어 있으면 form을 제출합니다.
				searchForm.submit();
			}
		}



	</script>

</body>

</html>